.cards-container {
  .card {
    min-height: 75vh;
  }
  .art {
    min-height: max-content;
    justify-content: center;
  }
  .art:hover img {
    filter: brightness(1.2);
    transform: scale(1.1);
  }
}
